define rg_battery readingsGroup .*:battery
attr rg_battery alias Batteriestatus
attr rg_battery commands { "battery.low" => "set %DEVICE replaceBatteryForSec 60"}
attr rg_battery room Allgemein
attr rg_battery valueIcon {'battery.ok' => 'batterie', 'battery.low' => 'batterie@red'}

define n_batt_chk notify .*:[Bb]attery.* { if ($EVENT !~ m/ok/) { \
 	{mySendMail('post@bauschlicher.de','FHEM Batteriewarnung', $NAME.': '.$EVENT)};; \
	mySendMessage("0","FHEM Batteriewarnung $NAME $EVENT","1");;\
 	Log 1, "$NAME : Batteriewarnung $EVENT";; \
  } \
 }
attr n_batt_chk room Allgemein



define Anrufliste FB_CALLMONITOR 192.168.146.1
attr Anrufliste local-area-code 02065
attr Anrufliste reverse-search phonebook,klicktel.de,dasoertliche.de
attr Anrufliste reverse-search-cache 1
attr Anrufliste reverse-search-cache-file /opt/fhem/log/reverse_search.txt
attr Anrufliste room Allgemein

define eventTypes eventTypes log/eventTypes.txt
attr eventTypes room Allgemein

# Disable this to avoid looking for new USB devices on startup
define initialUsbCheck notify global:INITIALIZED usb create

define Systembefehle weblink cmdList Restart:&nbsp;;Restart-Fhem:/fhem/www/restart/restart.html Update:&nbsp;;Update-Check:update+check Update:&nbsp;;Update-Now:update Shutdown:&nbsp;;Shutdown-Fhem:shutdown
attr Systembefehle room Allgemein,System

# Fake FileLog entry, to access the fhem log from FHEMWEB 
define Logfile FileLog ./log/fhem-%Y-%m.log fakelog
attr Logfile room FileLog
